{{>header}}
<div class="container mt-4">
  <form class="row g-3" method="POST" action="/update/{{data._id}}">
    <div class="col-10">
      <input type="text" class="form-control" placeholder="Edit Todo" name="todo" value="{{data.todo}}">
    </div>
    <div class="col-2">
      <button class="btn btn-primary mb-3"> Update </button>
    </div>
  </form>
  {{>footer}}